
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

:root {
    --whiteish: #fafafa;
    --greyish: #87879d;
    --greenish: #4D96A9;
    --greenish-hover: #71C0D4;
    --blueish: #bfe3f9;
    --purpleish: #855fb1;
    --purpleish-hover: #B18BDD;
    --pinkish: #d9b8ff;
    --ring-border: #cfcfd4;

}

body {
    background-color: var(--whiteish);
}

h1 {
    font-size: 40px;
    line-height: 44px;
}

h3 {
    font-size: 34px;
    margin-bottom: 25px;
    line-height: 36px;
    font-weight: 900;
}

p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
    color: var(--greyish);
}

button {
    cursor: pointer;
    font-weight: 900;
    font-size: 16px;
    padding-top: 16px;
}

main {
    text-align: center;
    overflow: hidden;
}

.logo {
    padding: 48px 0px 54px 0px;
}

/* .avatars {
    height: 153px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 48px;
} */

/* rucno podesavanje avatara */

.mobile-avatars {
    display: flex;
    justify-content: center;
    height: 153px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 48px;
    overflow: hidden;
}

.mobile-avatars img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.mobile-avatars .avatar-pair {
    margin: 0px 8px;
}

.mobile-avatars .avatar-pair:nth-child(odd) {
    align-self: flex-end;
}

.mobile-avatars .avatar-pair div:first-child {
    padding-bottom: 14px;
}

.tablet-avatars {
    display: none;
}

/* ende */

.left, .right {
    display: none;
}

header h1 {
    width: 280px;
    margin: auto;
    margin-bottom: 24px;
}

header p {
    width: 327px;
    margin: auto;
    margin-bottom: 32px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons button {
    display: block;
    margin: 8px;
}

.btn-1 {
    background-color: var(--greenish);
    color: white;
    border: none;
    padding: 16px 35px;
    margin-bottom: 16px;
    font-size: 18px;
    border-radius: 45px;
}

.btn-1:hover {
    background-color: var(--greenish-hover);
}


.btn-1 span {
    color: var(--blueish);
}

.btn-2 {
    background-color: var(--purpleish);
    color: white;
    border: none;
    padding: 15px 35px;
    font-size: 18px;
    border-radius: 45px;
}

.btn-2 span {
    color: var(--pinkish);
}

.btn-2:hover {
    background-color: var(--purpleish-hover);
}

p {
    font-size: 18px;
}

.vertical-1{
    margin: 165px 0px 64px 0px;
    position: relative;
}

.vertical-2 {
    margin: 125px 0px 0px 0px;
    transform: translateY(50%);
    position: relative;
    z-index: 2;
}

.vertical-1 .ring {
    padding: 15px;
    width: 56px;
    border: 1px solid var(--ring-border);
    color: var(--greyish);
    border-radius: 50%;
    margin: auto;
    font-weight: bold;
    background-color: var(--whiteish);
}

.vertical-1 .line {
    position: absolute;
    top: -158%;
    left: 50%;
    border-left: 1px solid var(--ring-border);
    height: 85px;
}

.vertical-2 .ring {
    padding: 15px;
    width: 56px;
    border: 1px solid var(--ring-border);
    color: var(--greyish);
    border-radius: 50%;
    margin: auto;
    font-weight: bold;
    background-color: var(--whiteish);
}

.vertical-2 .line {
    position: absolute;
    top: -158%;
    left: 50%;
    border-left: 1px solid var(--ring-border);
    height: 85px;
}

aside {
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    gap: 24px;
}

aside img {
    width: 151px;
    height: 143px;
    border-radius: 8px;
}

article h3 {
    width: 327px;
    margin: auto;
    margin-bottom: 32px;
}

article p {
    width: 327px;
    margin: auto;
}

.overline {
    color: var(--greenish);
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 24px;
    margin-top: 64px;
    padding: 0px;
}

header, article, section {
    /* padding: 24px; */
    /* width: 100%; */
}

section {
    width: 100%;
    background-color: var(--greenish);
    color: var(--whiteish);
    padding: 80px 20px;
    position: relative;
}

section h3 {
    width: 327px;
    margin: auto;
    margin-bottom: 25px;
}

section p {
    color: var(--whiteish);
    width: 327px;
    margin: auto;
    margin-bottom: 32px;
}

section h3, section p, section button {
    position: relative;
}

section .bottom-background-mobile {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.1;
}

section .bottom-background-tablet {
    display: none;
}

section .bottom-background-desktop {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {

    .logo {
        padding: 48px 0px 64px 0px;
    }

    /* .avatars {
        width: 820px;
        height: 303px;
        margin: auto;
        margin-bottom: 72px;
    } */

    .mobile-avatars {
        display: none;
    }

    .tablet-avatars {
        display: flex;
        justify-content: center;
        height: 303px;
        margin: auto;
        overflow: hidden;
        margin-bottom: 72px;
    }
    
    .tablet-avatars img {
        height: 110px;
        width: 110px;
        border-radius: 50%;
    }

    .tablet-avatars .avatar-pair {
        margin: 0px 15px;
    }    
    
    .tablet-avatars .avatar-pair:nth-child(odd) {
        align-self: flex-end;
    }
    
    .tablet-avatars .avatar-pair div:first-child {
        padding-bottom: 28px;
    }

    h3 {
        font-size: 44px;
        line-height: 44px;
        width: 445px;
        text-align: center;
        margin: auto;
    }

    header h1 {
        font-size: 48px;
        line-height: 48px;
        width: 339px;
        margin: auto;
        margin-bottom: 24px;
    }

    header p {
        width: 457px;
        margin: auto;
        margin-bottom: 32px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    article h3 {
        width: 580px;
        margin: auto;
        margin-bottom: 32px;
    }

    article p {
        width: 580px;
        margin: auto;
    }

    aside {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 11px;
    }

    aside img {
        width: 164px;
        height: 156px;
        border-radius: 8px;
    }

    .overline {
        margin-top: 48px;
        margin-bottom: 16px;
        padding: 0px;
    }

    section p {
        width: 573px;
        margin: auto;
        margin-bottom: 40px;
        color: var(--whiteish);
    }

    section .bottom-background-mobile {
        display: none;
    }
    
    section .bottom-background-tablet {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.1;
    }

}

@media only screen and (min-width: 1440px) {

    .logo {
        padding: 80px 0px 110px 0px;
    }

    h1 {
        font-size: 64px;
        line-height: 64px;
        width: 445px;
        margin: auto;
    }

    h3 {
        font-size: 44px;
        line-height: 44px;
        width: 445px;
        text-align: center;
        padding-bottom: 32px;
        margin: auto;
    }

    p {
        font-size: 18px;
        padding-bottom: 32px;
    }

    header h1 {
        width: 450px;
    } 

    header p {
        width: 540px;
        padding-bottom: 0px;
    }

    /* .avatars {
        display: none;
    } */

    .mobile-avatars, .tablet-avatars {
        display: none;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* .left, .right {
        display: block;
    } */

    /* rucno podesavanje avatara */

    .left {
        display: flex;
        justify-content: center;
        height: 303px;
    }
    
    .left .avatar-pair {
        margin: 0px 15px;
    }
    
    .left img {
        height: 110px;
        width: 110px;
        border-radius: 50%;
    }
    
    .left .avatar-pair:nth-child(odd) {
        align-self: flex-end;
    }
    
    .left .avatar-pair div:first-child {
        padding-bottom: 28px;
    }
    
    
    .right {
        display: flex;
        justify-content: center;
        height: 303px;
    }
    
    .right .avatar-pair {
        margin: 0px 15px;
    }
    
    .right img {
        height: 110px;
        width: 110px;
        border-radius: 50%;
    }
    
    .right .avatar-pair:nth-child(even) {
        align-self: flex-end;
    }
    
    .right .avatar-pair div:first-child {
        padding-bottom: 28px;
    }
    
    /* ende */

    .left {
        transform: translate(-8%, -12%);
    }

    .right {
        transform: translateX(8%);
    }

    .header-wrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    header {
        max-width: 540px;
        padding: 0px;
    }

    aside {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
    }

    aside img {
        width: 255px;
        height: 242px;
        margin: 0 8px;
    }

    article {
        padding: 0px;
        width: 540px;
        margin: auto;
    }

    article h3 {
        width: 573px;
        margin: auto;
    }

    article p {
        padding: 0px;
        width: 573px;
    }

    .overline {
        letter-spacing: 4px;
        margin-top: 80px;
        margin-bottom: 16px;
        padding: 0px;
    }

    section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    section p {
        color: var(--whiteish);
    }

    section button, section h3, section p {
        margin: 0;
        padding: 0;
        text-align: left;
    }

    section button {
        text-align: center;
        font-size: 16px;
    }

    section .bottom-background-desktop {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.1;
    }

    section .bottom-background-mobile {
        display: none;
    }
    
    section .bottom-background-tablet {
        display: none;
    }

    section p {
        width: 350px;
    }

    .vertical-1 {
        margin-top: 195px;
        margin-bottom: 64px;
    }

}






