
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kumbh Sans;
}

:root {
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-greyish-blue: hsl(237, 12%, 33%);
    --dark-greyish-blue: hsl(240, 6%, 50%);
    --light-greyish-blue: hsl(240, 5%, 91%);
}

body {
    background: linear-gradient(var(--soft-violet), var(--soft-blue));;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}


main {
    width: 327px;
    background-color: #fff;
    padding: 24px;
    border-radius: 25px;
    position: relative;
}

section {
    padding-bottom: 28px;
}

section h1 {
    text-align: center;
    font-size: 32px;
    padding-bottom: 38px;
    margin-top: -20%;
}

article {
    width: 280px;
    font-size: 13px;
}

.question {
    padding: 15px 0px;
    position: relative;
}

.question img {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}

hr {
    border: 1px solid var(--light-greyish-blue);
}

.answer {
    padding-right: 15px;
    padding-bottom: 10px;
    line-height: 18px;
    opacity: 1;
    transition: all 1s ease-in-out;
}

.hidden .answer {
    display: none;
    opacity: 0;
}

.hidden .question img {
    transform: rotate(0deg);
}

.hidden .question span {
    font-weight: 400;
}

.question span {
    font-weight: 700;
}

.question:hover {
    color: var(--soft-red);
    cursor: pointer;
}

.img-container-mobile {
    margin-top: -48%;
}

.woman-d, .shadow-d, .box-d {
    display: none;
}

.shadow {
    transform: translate(12%, -85%);
}

@media only screen and (min-width: 1440px) {

    .woman-d, .shadow-d, .box-d {
        display: block;
    }

    .img-container-mobile {
        display: none;
    }

    .container {
        position: relative;
    }

    main {
        display: flex;
        width: 920px;
        min-height: 510px;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
        overflow: hidden;
    }

    section {
        padding-bottom: 0px;
    }

    section h1 {
        text-align: left;
        padding-bottom: 18px;
        margin: 0;
    }

    article {
        font-size: 14px;
    }

    .woman-d {
        margin-left: -20%;
        margin-top: -3%;
        position: relative;
    }

    .shadow-d {
        position: absolute;
        top: -60%;
        left: -63%;
    }

    .box-d {
        position: absolute;
        top: 38%;
        left: -10%;
        z-index: 4;
    }

}







