
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Chivo', sans-serif;
}

:root {
    --green: #54e6af;
    --green-hover: #b3ffe2;
    --light-black: #2c344b;
    --black: #121725;
    --white: #ffffff;
    --grey: #5a668a;
    --light-grey: #c2cbe5;
    --red: #FB3E3E;
}

main {
    background: linear-gradient(rgb(18, 23, 37, 0.9), rgb(18, 23, 37, 0.9)), url("./assets/mobile/image-host.jpg") no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    overflow: auto;
    min-height: 100vh;
}

.logo {
    width: 135px;
    margin: auto;
    margin-top: 62px;
    margin-bottom: 57px;
}

section {
    width: 327px;
    margin: auto;
    /* margin-left: 24px;
    margin-right: 24px; */
}

section h1 {
    text-transform: uppercase;
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 38px;
    font-weight: 300;
}

section h1 span {
    color: var(--green);
}

section p {
    margin-bottom: 33px;
    line-height: 25px;
    font-size: 15px;
    color: var(--light-grey);
    font-weight: 300;
}

section .icons {
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .icons img {
    height: 17px;
}

section .icons img:nth-child(3) {
    height: 11px;
}

section .icons img:nth-child(4) {
    height: 15px;
}

#form-mobile input {
    display: block;
    width: 100%;
    padding-left: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 20px;
    background-color: var(--light-black);
    color: var(--light-grey);
    font-weight: bold;
    border: none;
    font-size: 14px;
}

#form-mobile input::placeholder {
    color: var(--light-grey);
}

#form-mobile button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 12px 0px;
    font-weight: bold;
    color: var(--black);
    background-color: var(--green);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 94px;
}

#form-mobile button:hover {
    background-color: var(--green-hover);
}

#warning-mobile {
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 32px;
    font-weight: bold;
    color: var(--red);
    text-align: left;
    font-size: 11px;
}

#warning-tablet {
    display: none;
}

#form-tablet {
    display: none;
}

.dots {
    display: none;
}

.tablet-image {
    display: none;
}

.desktop-image {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {

    main {
        background: var(--black);
        text-align: left;
        min-height: 100vh;
    }

    .logo {
        margin-top: 49px;
        margin-bottom: 153px;
        margin-left: 39px;
    }

    section {
        margin-left: 39px;
        /* margin-right: 94px; */
        width: 635px;
        position: relative;
        background-color: var(--black);
        z-index: 2;
        overflow: auto;
    }

    section h1 {
        margin-top: 93px;
        margin-bottom: 31px;
        font-size: 48px;
        line-height: 56px;
    }

    section p {
        /* margin-right: 190px; */
        width: 445px;
        margin-bottom: 40px;
        line-height: 28px;
        font-size: 18px;
    }


    section .icons img {
        height: 29px;
    }

    section .icons img:nth-child(3) {
        height: 18px;
    }

    section .icons img:nth-child(4) {
        height: 26px;
    }

    #form-mobile {
        display: none;
    }

    .email-container {
        /* margin-bottom: 64px; */
        margin-right: 208px;
        border-radius: 25px;
        background-color: var(--light-black);
        color: var(--light-grey);
        font-weight: bold;
        border: none;
        font-size: 14px;
        padding: 5px 0px;
        padding-right: 5px;
        display: flex;
        justify-content: space-between;
    }

    #warning-tablet {
        display: block;
        margin-top: 8px;
        margin-bottom: 42px;
        padding-left: 32px;
        font-size: 12px;
        color: var(--red);
        font-weight: bold;
    }

    #form-tablet {
        display: block;
    }

    #form-tablet input {
        width: 260px;
        border-radius: 20px;
        background-color: var(--light-black);
        color: var(--light-grey);
        font-weight: bold;
        border: none;
        padding-left: 32px;
        padding-top: 10px;
        padding-bottom: 10px;
        outline: none;
    }

    #form-tablet input::placeholder {
        color: var(--light-grey);
    }

    #form-tablet button {
        padding: 10px 27px;
        font-weight: bold;
        color: var(--black);
        background-color: var(--green);
        border-radius: 25px;
        border: none;
        cursor: pointer;
    }

    #form-tablet button:hover {
        background-color: var(--green-hover);
    }

    section .icons {
        margin-bottom: 153px;
        width: 536px;
        /* margin-right: 99px; */
    }

    .dots {
        display: inline;
        margin-left: 30px;
    }

    .tablet-image {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .desktop-image {
        display: none;
    }

}

@media only screen and (min-width: 1440px) {

    /* kopija tableta */

    main {
        background: var(--black);
        text-align: left;
        min-height: 100vh;
    }

    .logo {
        margin-top: 102px;
        margin-bottom: 103px;
        margin-left: 165px;
    }

    section {
        margin-left: 165px;
        /* margin-right: 552px; */
        width: 723px;
        position: relative;
        background-color: var(--black);
        z-index: 2;
        overflow: auto;
    }

    section h1 {
        margin-top: 88px;
        margin-bottom: 24px;
        font-size: 48px;
        line-height: 56px;
    }

    section p {
        /* margin-right: 190px; */
        width: 445px;
        margin-bottom: 40px;
        line-height: 28px;
        font-size: 18px;
    }

    section .icons img {
        height: 29px;
    }

    section .icons img:nth-child(3) {
        height: 18px;
    }

    section .icons img:nth-child(4) {
        height: 26px;
    }

    #form-mobile {
        display: none;
    }

    .email-container {
        /* margin-bottom: 60px; */
        /* margin-right: 208px; */
        width: 427px;
        border-radius: 25px;
        background-color: var(--light-black);
        color: var(--light-grey);
        font-weight: bold;
        border: none;
        font-size: 14px;
        padding: 5px 0px;
        padding-right: 5px;
        display: flex;
        justify-content: space-between;
    }

    #warning-tablet {
        display: block;
        margin-top: 8px;
        margin-bottom: 42px;
        padding-left: 32px;
        font-size: 12px;
        color: red;
        font-weight: bold;
    }

    #form-tablet {
        display: block;
    }

    #form-tablet input {
        width: 260px;
        border-radius: 20px;
        background-color: var(--light-black);
        color: var(--light-grey);
        font-weight: bold;
        border: none;
        padding-left: 32px;
        padding-top: 10px;
        padding-bottom: 10px;
        outline: none;
    }

    #form-tablet input::placeholder {
        color: var(--light-grey);
    }

    #form-tablet button {
        padding: 10px 27px;
        font-weight: bold;
        color: var(--black);
        background-color: var(--green);
        border-radius: 25px;
        border: none;
        cursor: pointer;
    }

    #form-tablet button:hover {
        background-color: var(--green-hover);
    }

    section .icons {
        margin-bottom: 153px;
        margin-right: 187px;
    }

    .tablet-image {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    /* ende */

    .dots {
        display: block;
        position: absolute;
        right: 0;
        top: 718px;
        z-index: 3;
    }

    .tablet-image {
        display: none;
    }

    .desktop-image {
        display: block;
        position: absolute;
        right: 0;
        top: 130px;
    }

}









