* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 8vh;
}

h1 {
  text-align: center;
  margin-top: 80px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(69, 113, 131);
  min-height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 5px 25px rgb(94, 93, 93);
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-left: 30px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.cart-icon {
  cursor: pointer;
  position: relative;
}

.fas {
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.red-circle {
  /* padding: 15px; */
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: white;
  background-color: red;
  font-size: 10px;
  text-align: center;
  position: absolute;
  top: -40%;
  right: -40%;
}

.red-circle span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55% , -55%);
  font-weight: bold;
}

main {
  max-width: 1340px;
  margin: auto;
  padding-bottom: 130px;
}

.input-container {
  width: fit-content;
  margin: auto;
  margin-top: 40px;
  display: flex;
  border: 2px solid black;
  border-radius: 16px;
}

.input-container input {
  min-width: 550px;
  display: block;
  border-radius: 16px 0px 0px 16px;
  border: none;
  outline: none;
  padding: 5px 5px 5px 15px;
}

.input-container button {
  display: block;
  border-radius: 0px 16px 16px 0px;
  border: none;
  cursor: pointer;
  background-color: lightblue;
  padding: 7px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* background-color: lightblue; */
  text-align: center;
  gap: 20px;
  margin-top: 50px;
}

.product img {
  width: 220px;
  margin: auto;
}

.product {
  border: 2px solid grey;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  text-align: left;
  min-height: 8vh;
}

.basket {
  text-align: right;
  padding: 8px 0px;
}

.basket .fas {
  cursor: pointer;
}

.js-hidden {
  display: none;
}

.cart {
  text-align: center;
}

.cart h2 {
  margin-bottom: 40px;
  margin-top: 30px;
  text-align: center;
}

.cart p {
  font-weight: bold;
  margin-bottom: 20px;
}

.cart-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.name-and-price {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  padding: 8px 0px;
}

.amount {
  display: flex;
  align-items: center;
}

.plus-minus {
  margin-right: 30px;
  display: flex;
}

.amount, .plus-minus button {
  font-size: 18px;
}

.plus-minus button {
  cursor: pointer;
  padding: 0px 7px;
  display: block;
}

.plus-minus span {
  padding: 0px 10px;
  display: block;
}

.remove, .empty {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: bold;
}

.bottom-cart {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total {
  font-size: 20px;
  font-weight: bold;
}

.checkout {
  background-color: rgb(58, 96, 110);
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: bold;
  margin-left: 20px;
}

.empty-cart {
  text-align: center;
}

.product-details {
  width: 70%;
  margin: auto;
  margin-top: 150px;
  display: flex;
  border: 3px solid gray;
  border-radius: 8px;
  padding: 15px;
  position: relative;
  background: linear-gradient(rgb(222, 238, 243), white);
}

.text-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  padding-left: 15px;
}

.text-details span {
  font-style: italic;
}

.product-details .basket {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.form-container {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container h3 {
  text-align: center;
  margin-bottom: 20px;

}

.username-container, .password-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.username-container label, .password-container label {
  margin-bottom: 8px;
}

.username-container input, .password-container input {
  padding: 5px;
}

.form-container form {
  min-width: 400px;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 40px 15px;
  box-shadow: 5px 10px 25px grey;
}

.form-btn {
  padding: 8px;
  color: white;
  background-color: rgb(69, 113, 131);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  margin-top: 15px;
}
